<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fimo_pitch">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:node="merge"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:enabled="true"
            android:exported="true"
            android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:enabled="true"
            android:exported="true"
            android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".main.LoginActivity" />
        <activity android:name=".main.IntroductionActivity" />
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        />
        <activityMainActivity
            android:name=".main.AboutActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity android:name=".main.SignUpActivity" />
        <activity android:name=".main.ForgotPasswordActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".main.DetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.ManageActivity"
            android:label="Quản lý "
            android:theme="@style/AppTheme" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".main.AddSystemPitchActivity" />
        <activity android:name=".main.ListPitchActivity" />
        <activity android:name=".main.PaymentActivity" />
        <activity android:name=".main.PriceManagementActivity" />
        <activity android:name=".main.AddPriceActivity" />
        <activity android:name=".main.EditPitchActivity" />
        <activity android:name=".main.EditPriceActivity" />

        <activity android:name=".main.AddPitchActivity" />
        <activity android:name=".main.SystemManagementActivity" />
        <activity
            android:name=".main.FirstActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.OrderActivity" />
        <activity android:name=".main.PitchManagementActivity"></activity>
    </application>

</manifest>